<div class="archives-list">
    <a href="{{ "/notes/" | prepend: site.url }}">Notes</a> ·
    <a href="{{ "/about/" | prepend: site.url }}">About</a> ·
    <a href="{{ "/feed.xml" | prepend: site.url }}">RSS</a>
</div>