{% if site.disqus_shortname and page.comments %}


<div id='disqus_thread'></div>

<!--
<script>
  var disqus_config = function () {
    this.page.url = '{{ page.url | absolute_url }}';
    this.page.identifier = '{{ page.url | absolute_url }}';
  };
  (function () {
    var d = document,
      s = d.createElement('script');
    s.src = 'https://{{ site.disqus_shortname }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href='https://disqus.com/?ref_noscript'>comments powered by
    Disqus.</a></noscript>
-->

<script>
var dsqjs = new DisqusJS({
    shortname: '{{ site.disqus_shortname }}',
    siteName: 'Empty Space',
    apikey: 'qoIZcH4MRc72qIisjrsnP8eGvfnOWC1UiemYTVIvZBnoFeLAyqoQvs8eg226jp7X',
    admin: 'nth233',
    nocomment: 'Nothing here...'
});
</script>

{% endif %}
