<div class="comment-area">
<script src="https://utteranc.es/client.js"
        repo="fpg2012/fpg2012.github.io"
        issue-term="pathname"
        label="Comment"
        theme="preferred-color-scheme"
        crossorigin="anonymous"
        async>
</script>
</div>
