.highlight { background: none; }

/* Solarized */
html.dark-theme .highlight .c { color: #586e75 } /* Comment */
html.dark-theme .highlight .err { color: #93a1a1 } /* Error */
html.dark-theme .highlight .g { color: #93a1a1 } /* Generic */
html.dark-theme .highlight .k { color: #859900 } /* Keyword */
html.dark-theme .highlight .l { color: #93a1a1 } /* Literal */
html.dark-theme .highlight .n { color: #93a1a1 } /* Name */
html.dark-theme .highlight .o { color: #859900 } /* Operator */
html.dark-theme .highlight .x { color: #cb4b16 } /* Other */
html.dark-theme .highlight .p { color: #93a1a1 } /* Punctuation */
html.dark-theme .highlight .cm { color: #586e75 } /* Comment.Multiline */
html.dark-theme .highlight .cp { color: #859900 } /* Comment.Preproc */
html.dark-theme .highlight .c1 { color: #586e75 } /* Comment.Single */
html.dark-theme .highlight .cs { color: #859900 } /* Comment.Special */
html.dark-theme .highlight .gd { color: #2aa198 } /* Generic.Deleted */
html.dark-theme .highlight .ge { color: #93a1a1; font-style: italic } /* Generic.Emph */
html.dark-theme .highlight .gr { color: #dc322f } /* Generic.Error */
html.dark-theme .highlight .gh { color: #cb4b16 } /* Generic.Heading */
html.dark-theme .highlight .gi { color: #859900 } /* Generic.Inserted */
html.dark-theme .highlight .go { color: #93a1a1 } /* Generic.Output */
html.dark-theme .highlight .gp { color: #93a1a1 } /* Generic.Prompt */
html.dark-theme .highlight .gs { color: #93a1a1; font-weight: bold } /* Generic.Strong */
html.dark-theme .highlight .gu { color: #cb4b16 } /* Generic.Subheading */
html.dark-theme .highlight .gt { color: #93a1a1 } /* Generic.Traceback */
html.dark-theme .highlight .kc { color: #cb4b16 } /* Keyword.Constant */
html.dark-theme .highlight .kd { color: #268bd2 } /* Keyword.Declaration */
html.dark-theme .highlight .kn { color: #859900 } /* Keyword.Namespace */
html.dark-theme .highlight .kp { color: #859900 } /* Keyword.Pseudo */
html.dark-theme .highlight .kr { color: #268bd2 } /* Keyword.Reserved */
html.dark-theme .highlight .kt { color: #dc322f } /* Keyword.Type */
html.dark-theme .highlight .ld { color: #93a1a1 } /* Literal.Date */
html.dark-theme .highlight .m { color: #2aa198 } /* Literal.Number */
html.dark-theme .highlight .s { color: #2aa198 } /* Literal.String */
html.dark-theme .highlight .na { color: #93a1a1 } /* Name.Attribute */
html.dark-theme .highlight .nb { color: #B58900 } /* Name.Builtin */
html.dark-theme .highlight .nc { color: #268bd2 } /* Name.Class */
html.dark-theme .highlight .no { color: #cb4b16 } /* Name.Constant */
html.dark-theme .highlight .nd { color: #268bd2 } /* Name.Decorator */
html.dark-theme .highlight .ni { color: #cb4b16 } /* Name.Entity */
html.dark-theme .highlight .ne { color: #cb4b16 } /* Name.Exception */
html.dark-theme .highlight .nf { color: #268bd2 } /* Name.Function */
html.dark-theme .highlight .nl { color: #93a1a1 } /* Name.Label */
html.dark-theme .highlight .nn { color: #93a1a1 } /* Name.Namespace */
html.dark-theme .highlight .nx { color: #93a1a1 } /* Name.Other */
html.dark-theme .highlight .py { color: #93a1a1 } /* Name.Property */
html.dark-theme .highlight .nt { color: #268bd2 } /* Name.Tag */
html.dark-theme .highlight .nv { color: #268bd2 } /* Name.Variable */
html.dark-theme .highlight .ow { color: #859900 } /* Operator.Word */
html.dark-theme .highlight .w { color: #93a1a1; text-decoration: none; } /* Text.Whitespace */
html.dark-theme .highlight .mf { color: #2aa198 } /* Literal.Number.Float */
html.dark-theme .highlight .mh { color: #2aa198 } /* Literal.Number.Hex */
html.dark-theme .highlight .mi { color: #2aa198 } /* Literal.Number.Integer */
html.dark-theme .highlight .mo { color: #2aa198 } /* Literal.Number.Oct */
html.dark-theme .highlight .sb { color: #586e75 } /* Literal.String.Backtick */
html.dark-theme .highlight .sc { color: #2aa198 } /* Literal.String.Char */
html.dark-theme .highlight .sd { color: #93a1a1 } /* Literal.String.Doc */
html.dark-theme .highlight .s2 { color: #2aa198 } /* Literal.String.Double */
html.dark-theme .highlight .se { color: #cb4b16 } /* Literal.String.Escape */
html.dark-theme .highlight .sh { color: #93a1a1 } /* Literal.String.Heredoc */
html.dark-theme .highlight .si { color: #2aa198 } /* Literal.String.Interpol */
html.dark-theme .highlight .sx { color: #2aa198 } /* Literal.String.Other */
html.dark-theme .highlight .sr { color: #dc322f } /* Literal.String.Regex */
html.dark-theme .highlight .s1 { color: #2aa198 } /* Literal.String.Single */
html.dark-theme .highlight .ss { color: #2aa198 } /* Literal.String.Symbol */
html.dark-theme .highlight .bp { color: #268bd2 } /* Name.Builtin.Pseudo */
html.dark-theme .highlight .vc { color: #268bd2 } /* Name.Variable.Class */
html.dark-theme .highlight .vg { color: #268bd2 } /* Name.Variable.Global */
html.dark-theme .highlight .vi { color: #268bd2 } /* Name.Variable.Instance */
html.dark-theme .highlight .il { color: #2aa198 } /* Literal.Number.Integer.Long */

/* Tango */
.highlight .c { color: #8f5902; font-style: italic } /* Comment */
.highlight .err { color: #a40000; border: 1px solid #ef2929 } /* Error */
.highlight .g { color: #000000 } /* Generic */
.highlight .k { color: #204a87; font-weight: bold } /* Keyword */
.highlight .l { color: #000000 } /* Literal */
.highlight .n { color: #000000 } /* Name */
.highlight .o { color: #ce5c00; font-weight: bold } /* Operator */
.highlight .x { color: #000000 } /* Other */
.highlight .p { color: #000000; font-weight: bold } /* Punctuation */
.highlight .ch { color: #8f5902; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #8f5902; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #8f5902; font-style: italic } /* Comment.Preproc */
.highlight .cpf { color: #8f5902; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #8f5902; font-style: italic } /* Comment.Single */
.highlight .cs { color: #8f5902; font-style: italic } /* Comment.Special */
.highlight .gd { color: #a40000 } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #ef2929 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #000000; font-style: italic } /* Generic.Output */
.highlight .gp { color: #8f5902 } /* Generic.Prompt */
.highlight .gs { color: #000000; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #a40000; font-weight: bold } /* Generic.Traceback */
.highlight .kc { color: #204a87; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #204a87; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #204a87; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #204a87; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #204a87; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #204a87; font-weight: bold } /* Keyword.Type */
.highlight .ld { color: #000000 } /* Literal.Date */
.highlight .m { color: #0000cf; font-weight: bold } /* Literal.Number */
.highlight .s { color: #4e9a06 } /* Literal.String */
.highlight .na { color: #c4a000 } /* Name.Attribute */
.highlight .nb { color: #204a87 } /* Name.Builtin */
.highlight .nc { color: #000000 } /* Name.Class */
.highlight .no { color: #000000 } /* Name.Constant */
.highlight .nd { color: #5c35cc; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #ce5c00 } /* Name.Entity */
.highlight .ne { color: #cc0000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #000000 } /* Name.Function */
.highlight .nl { color: #f57900 } /* Name.Label */
.highlight .nn { color: #000000 } /* Name.Namespace */
.highlight .nx { color: #000000 } /* Name.Other */
.highlight .py { color: #000000 } /* Name.Property */
.highlight .nt { color: #204a87; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #000000 } /* Name.Variable */
.highlight .ow { color: #204a87; font-weight: bold } /* Operator.Word */
.highlight .w { color: #f8f8f8; text-decoration: underline } /* Text.Whitespace */
.highlight .mb { color: #0000cf; font-weight: bold } /* Literal.Number.Bin */
.highlight .mf { color: #0000cf; font-weight: bold } /* Literal.Number.Float */
.highlight .mh { color: #0000cf; font-weight: bold } /* Literal.Number.Hex */
.highlight .mi { color: #0000cf; font-weight: bold } /* Literal.Number.Integer */
.highlight .mo { color: #0000cf; font-weight: bold } /* Literal.Number.Oct */
.highlight .sa { color: #4e9a06 } /* Literal.String.Affix */
.highlight .sb { color: #4e9a06 } /* Literal.String.Backtick */
.highlight .sc { color: #4e9a06 } /* Literal.String.Char */
.highlight .dl { color: #4e9a06 } /* Literal.String.Delimiter */
.highlight .sd { color: #8f5902; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #4e9a06 } /* Literal.String.Double */
.highlight .se { color: #4e9a06 } /* Literal.String.Escape */
.highlight .sh { color: #4e9a06 } /* Literal.String.Heredoc */
.highlight .si { color: #4e9a06 } /* Literal.String.Interpol */
.highlight .sx { color: #4e9a06 } /* Literal.String.Other */
.highlight .sr { color: #4e9a06 } /* Literal.String.Regex */
.highlight .s1 { color: #4e9a06 } /* Literal.String.Single */
.highlight .ss { color: #4e9a06 } /* Literal.String.Symbol */
.highlight .bp { color: #3465a4 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #000000 } /* Name.Function.Magic */
.highlight .vc { color: #000000 } /* Name.Variable.Class */
.highlight .vg { color: #000000 } /* Name.Variable.Global */
.highlight .vi { color: #000000 } /* Name.Variable.Instance */
.highlight .vm { color: #000000 } /* Name.Variable.Magic */
.highlight .il { color: #0000cf; font-weight: bold } /* Literal.Number.Integer.Long */
